# DELIVERY_ADDR=0.0.0.0
# DELIVERY_PORT=12010
# DELIVERY_HTTP_PORT=12011
# DELIVERY_REPO_LIST_FILE_PATH=
# DELIVERY_DEFAULT_PRIVATE_KEY_FILE=
# DELIVERY_WORK_DIRECTORY=/home/username
# DELIVERY_LOG_LEVEL=Info
# DELIVERY_KUSTOMIZE_PATH=/usr/bin/kustomize
# DELIVERY_YQ_PATH=/usr/bin/yq
# DELIVERY_YAMLFMT_PATH=/usr/bin/yamlfmt
# DELIVERY_DEFAULT_COMMIT_USER_NAME=Administrator
# DELIVERY_DEFAULT_COMMIT_USER_EMAIL=admin@example.com
# DELIVERY_FORCE_CLONE=true
# DELIVERY_ALLOW_EMPTY_COMMIT=true